*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(200, 250, 233);
    align-items: center;
    display: flex;
    justify-content: center;
}
main{
    align-items: center;
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius:10px ;
    margin-top: 100px;
}
.container_1{
    height: 350px;
    width: 400px;
    border-radius: 10px;
}
.conatainer_2{
    background-color: rgb(18, 30, 56);
    height: 350px;
    width: 400px;
    border-radius: 0px 10px 10px 50px;
}
header{
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 20px;
}
h1{
    font-size: 20px;
    margin-right: 90px;
    margin-left: 10px;
}
span{
    margin-left: 20px;
    text-decoration: underline;
    color: rgb(68, 67, 67);
}
label{
    font-size: 18px;
    margin-left: 10px;
    color: rgb(68, 67, 67);
    
}
.input_1{
    margin-left: 10px;
    width: 300px;
    height: 25px;
    border-width: 1px;
    border-radius: 4px;
}
.nav{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}
input{
    margin-left: 10px;
    height: 25px;
    border-width: 1px;
    border-radius: 4px;
}
h2{
    font-size: 18px;
    margin-top: 20px;
    margin-left: 10px;
    color: rgb(68, 67, 67);
}
.Repayment, .Interst {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    height: 28px;
    border: solid 1px;
    border-color: rgb(68, 67, 67);
    width: 300px;
    border-radius: 5px;
    margin-top: 10px;
}
h3{
    font-size: 12px;
    margin-left: 10px;
}
button{
    margin-top: 20px;
    margin-left: 10px;
    padding: 6px 12px;
    border-radius: 12px;
    border: none;
    width: 200px;
    height: 30px;
    color: black;
    background-color: rgb(179, 214, 53);
    font-weight: bold;
}
.conatainer_2{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
h4{
    font-size: 18px;
    color: rgb(224, 217, 217);
    margin-bottom: 20px;
}
.result_1{
    color: yellow;
    border: none;
    width: 300px;
    height: 100xp;
    background-color: rgb(18, 30, 56);
    font-size: 32px;
}